nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  font-weight: bolder;
  border-bottom: 4px solid rgb(247, 15, 15);
  
}

.navbar div p {
  font-size: 14px;
}

.navbar div {
  text-align: center;
  color: rgb(143, 27, 7);
}