nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 20px;
}